:root{
    --red: E63946;
    --white: F1FAEE;
    --light_blue: A8DADC;
    --blue: 457B9D;
    --dark_blue: 1D3557;
}


* {
    color: rgb(71,33,131);
    background-color:rgb(241,246,245); 
    border: .2px solid white;
    box-sizing: border-box;
}
header {
    text-align: center;
    margin:0px;
}

ul {
    list-style-type: none;
}

.horizontal-navbar{
    display: flex;
}

.navbar-item{
    border: 5px solid black;
    margin: 10px;
    padding: 10px; 
}