body {
    background-color: #121212;
    font-family: Circular, sans-serif;
    color: #FFFFFF;
}


.column-flex{
    display: flex;
    flex-direction: column;
}

#title{
    text-align: center;
    font-size: 6vw;
    margin: 0;
}

#slogan{
    font-size: 2vw;
    text-align: center;
    margin: 1rem 0rem;
}

.off-black-background{
    background-color: #181818;
}


.user{
    margin: 2rem;
    padding: 1rem;
}
.user img{
    border-radius: 50%;
    max-width: 8vw;
    max-height: 8vh;
}