body {
    background-color: #121212;
    font-family: Circular, sans-serif;
    color: #FFFFFF;
}


.column-flex{
    display: flex;
    flex-direction: column;
}

#title, #slogan{
    text-align: center;
    margin:1rem;
}

#title{
    font-size: 10vh;
}

#slogan{
    font-size: 5vh;
}

#header{
    background-color: #181818;
}