* {
    margin: 5px;
    padding: 5px;
}

:root {
    --main-dark-color: #2F3E46;
    --main-middle-color: #52796F;
    --main-light-color: #CAD2C5;
    background-color: var(--main-dark-color);
  }

html{
    font-family: 'Gloock', serif;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
}

 .main{
    background-color: var(--main-middle-color);
}

.flexbox-container{
    display: flex;
    flex-direction:column ;
    justify-content: center;
}

.flexbox-item{
    flex:1;
}

.centerText{
    text-align: center;
}