* {
    background-color: plum;
    border: 2px solid palevioletred;
    margin: 5px;
    padding: 5px;
}

html{
    font-family: 'Gloock', serif;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
}

.columnFlex{
    display: flex;
    flex-direction: column;
}

.rowFlex{
    display: flex;
    flex-direction: row;
}

.subFlex{
    flex:1;

}

.centerText{
    text-align: center;
}